Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Dynamic/Levels/FirstPersonExampleMap_BuiltData.uasset
Content/Static/TestingGroundPack/GrassPack/Materials/grass2.uasset
Content/Static/TestingGroundPack/GrassPack/Materials/grass.uasset
Content/Static/TestingGroundPack/
